
<!-- About Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
    </div>
  </div>

  <div class="row">
  	<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{site.baseUrl}}/cv" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-file-o"></i> Download CV</a>
        <a href="{{site.my_urls.github}}" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-github"></i> Check my Github</a>
  	</div>
  </div>
</section>

<!-- About End -->
