
<!-- Curriculum Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container" style="color: beige">

		<div class="row">
		    <div class="col-lg-8 col-lg-offset-2">

				{{ page.content | markdownify }}
			</div>

		</div>

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="{{site.baseurl}}/attachments/cv/Resume.pdf" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-file-o"></i> Resume</a>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
		    <a href="{{site.baseurl}}/attachments/cv/CV_eng.pdf" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-file-o"></i> CV English</a>
		    <a href="{{site.baseurl}}/attachments/cv/CV_esp.pdf" target="_blank" class="btn btn-lg btn-outline"><i class="fa fa-file-o"></i> CV Español</a>
			</div>
		</div>
	</div>
  </div>
</header>

<!-- Curriculum End -->